extends layout

block content
	.container.hero




		.container.aboutme-information
			.container.service-content.info
				.row.featurette.col-md-12
					.col-md-8
						h2.content-heading #{title}
						h1.content-heading Holistic Practitioner
						p.content I have a passion and heart for helping others live the most purpose filled life full of joy, health, and love. I have always known that I was meant to help others heal since I was a very little girl. I grew up running around barefoot and have always had a deep love for nature.
						p.content Up until age 20, I lived a vibrant life of working with children, and traveling abroad working with orphans and schools in other countries. I have a huge love for traveling and going to places where people need love the most. 
						p.content  It was my dream to open an orphanage and school in a third world country where I could love on those that have virtually nothing. Through my travels I learned whats really important in life and it gave me deep gratitude for the life I've been given. My dream was to live abroad and do this healing work for the poverty stricken, and forgotten. 
						p.content At 20 years old, I had an adverse reaction to a vaccine. Shortly after, I was diagnosed with an autoimmune condition, and 7 years after that I found out I had a tick borne illness as well as a genetic condition. 
						p.content I suffered immensely beyond imagination in all areas of my body. Every organ was effected by my dis-eases in one way or another. I had debilitating symptoms that I look back on today and thank God that I'm still alive. 
						p.content My heart, lungs, GI track, brain, muscles, nerves, endocrine system, etc.  you name it- I probably had it. My entire body was seemingly failing me. I became totally bedridden at the young age of 27. If I stood up I almost fainted. I was constantly dizzy. Always exhausted. Always off balance. Always nauseous. Always reacting to foods- and things in my environment. My heart skipped constantly, I'd black out. Feel faint, weak, the worst memory problems. I could hardly keep my eyes open even after just waking up. I took naps every day. This sickness left me feeling so entirely worthless. I had terrible depression and anxiety. I also became suicidal and battled with myself every day to not just give up and end it all. I felt worthless and alone. 
						p.content I saw a multitude of doctors who had no clue how to help me. I had to figure much of this out on my own. In 2015 I found a homeopathic doctor who diagnosed my tick borne illness and vaccine injury. I began healing from homeopathy, essential oils, chiropractic care, flower essences, energy work, and Redox cell signaling supplement. I knew that when I healed fully, this is what I wanted to do with my life. 
						p.content I attended online school and apprenticed under an amazing homeopathic doctor to get both the hands on training, and the traditional schooling method needed. 
						p.content I feel now I have come full circle, I lived very sick for a decade of my life and had to dig deep and figure out how to heal on my own. I had to realize that no doctor , practitioner, or energy worker could heal me. Only I could heal me. 
						p.content No matter if you are chronically ill or just struggle with mild anxiety or low self esteem, I would love to take your hand and help guide you forward to live out the best life you can with a deep sense of peace, joy, and love.
						p.content I believe if I can heal, anyone can heal. I would be honored to help you on your journey to loving yourself to ultimate health! 


					


					.col-md-4
						img.myphoto.img-responsive.center-block(src='../../stylesheets/images/b2.jpg')


			.container.actual-footer
					.row-fluid.instagram
						a.ig-b-.ig-b-48(href='https://www.instagram.com/b.love.healing/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
						a.fb-icon(href='https://www.facebook.com/B-Love-Healing-373726639704346/')
							img(src='../../stylesheets/images/facebook_48.png')
						//- a.tw-icon(href='https://twitter.com/onyxholistic')
							img(src='../../stylesheets/images/twitter_48.png')
						//- a.tw-icon(href='http://learningfromamaster.blogspot.com/?m=0')
							img(src='../../stylesheets/images/blogger-48.png')
					.row-fluid
						p.text-muted.copyright.hidden-xs  &copy Copyright 2018, blovehealing
			//- footer.footer
				.container
					.row.instagram
						a.ig-b-.ig-b-48(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
