extends layout

block content
	.container.hero
		//- .navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container.site-title
							.navbar-header
								button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
				
								
								ul.nav.navbar-nav
									li.main-name
										a(href='/')
											h1 Onyx
											h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/aboutme') About
								li
									a.header-links(href='mailto:onyxholisticservices@gmail.com?subject=Onyx Contant&body=Thank you so much for contacting Onyx. Please include your Full name, Phone Number, Email, and Reason for Contant. Have a Wonderful Day') Contact
								li.dropdown(role="presentation")
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='/#birth') Natural Birth
										li
											a(href='/#psychk') PSYCH-K
										li
											a(href='/#essentialoils') Essential Oils



		.container.aboutme-information
			.container.service-content.info
				.row.featurette.col-md-12
					.col-md-8
						h2.content-heading #{title}
						p.content I have a passion for woman centered care by helping mothers have healthy  pregnancies, blissful births, and a healing restorative postpartum stage. I am honored to guide mothers through this journey into finding their intuitive power and strength, through childbirth classes, breastfeeding counseling, PSYCH-K sessions and the use of essential oils.
						p.content I have always worked with babies and children from a very young age. Many called me the 'baby whisperer'. Through my intuition and training I am able to take a holistic approach at helping woman and families during this stage of life. 
						p.content My first son was born prematurely due to lupus (induced preeclampsia). I gave birth to my sweet 2.14 pound baby via an emergency C-section. I was determined to breastfeed him, and after four months we were finally able to exclusively nurse. I knew because of the hardships I faced, I had to help other woman navigate this journey and became a breastfeeding counselor shortly after. When I became pregnant with my second son I wanted to have a natural birth. Since I had lupus and was high risk the doctors did not want me to have VBAC (vaginal birth after cesarean) I found a new doctor and a team of wonderful midwives.  I had a blissful painless natural childbirth to a full term baby, and it was one of the best experiences of my life. I knew that this was my calling in life to help moms and babies during this life transition.
						p.content I struggled with chronic illness all throughout my mothering journey. We turned to natural modalities to find our healing. My oldest son and I were diagnosed with Lyme disease (he got it through me at birth) and I became even more determined to heal my family naturally. My hope is to help families start out on the right path to wellness to give their babies the best start in life. Having a healthy baby, healthy mom, and healthy family!
						p.content My journey hasn't been easy, but it put me in the exact path of what I'm meant to do, I am thankful and love this gift I was given. 


					.col-md-4
						img.myphoto.img-responsive.center-block(src='../../stylesheets/images/me.jpg')


			.container.actual-footer
					.row-fluid.instagram
						a.ig-b-.ig-b-48(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
						a.fb-icon(href='https://www.facebook.com/onyxholistic')
							img(src='../../stylesheets/images/facebook_48.png')
						a.tw-icon(href='https://twitter.com/onyxholistic')
							img(src='../../stylesheets/images/twitter_48.png')
					.row-fluid
						p.text-muted.copyright.hidden-xs  &copy Copyright 2016, Onyx Holistic Services
			//- footer.footer
				.container
					.row.instagram
						a.ig-b-.ig-b-48(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
