extends layout

block content
	.container.hero
		//- .navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container.site-title
							.navbar-header
								button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
									span.sr-only Toggle navigation
									span.icon-bar
									span.icon-bar
									span.icon-bar
				
								
								ul.nav.navbar-nav
									li.main-name
										a(href='/')
											h1 Onyx
											h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/aboutme') About
								li
									a.header-links(href='mailto:onyxholisticservices@gmail.com?subject=Onyx Contant&body=Thank you so much for contacting Onyx. Please include your Full name, Phone Number, Email, and Reason for Contant. Have a Wonderful Day') Contact
								li.dropdown(role="presentation")
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='/#birth') Natural Birth
										li
											a(href='/#psychk') PSYCH-K
										li
											a(href='/#essentialoils') Essential Oils



		.container.aboutme-information
			.container.service-content.info
				.row.featurette.col-md-12
					.col-md-8
						h2.content-heading #{title}
						p.content I have a passion and heart for helping others live the most purpose filled life full of joy, health, and love. I have always known that I was a healer since I was a very little girl. I grew up running around barefoot and have always had a deep love for nature, and spirituality. I knew from a young age that things were all connected and that my purpose here was to heal the earth and its people. 
						p.content At age thirteen I became ill with a mystery virus that no doctor could figure out. I was given antibiotics and eventually physically recovered. Emotionally the sickness took a huge toll on me and I became very depressed and suicidal. By age fourteen I was mentally and physically healthy and lived a vibrant life of working with children, and traveling abroad working with orphans and schools in other countries. I have a huge love for traveling and going to places most would never want to visit, all to help and heal people.
						p.content It was my dream to open an orphanage and school in a third world country where I could love on those that have virtually nothing. Through my travels I learned whats really important in life and it gave me deep gratitude for the life I've been given. My dream was to live abroad and do this healing work for the poorest of the poor. My life took a turn when I was twenty years old and I had a life altering reaction to the HPV Gardasil Vaccination. I had a pre existing heart condition that was made worse by the vaccine and I also got diagnosed with Lupus. 
						p.content By a miracle I was able to conceive my first son, though he was born prematurely and his birth ended up being very traumatic (emergency c section) the experience changed my whole life and really set me up into what I was truly meant to be. My son also had severe reactions to vaccines that left him with a host of health problems. After seeking out doctor after doctor to heal my son and I, I decided to take my health into my own hands.
						p.content I began my road to a natural lifestyle, in my mind I knew that I was at my healthiest as a young girl running barefoot in the woods and I knew in my heart that if I were going to truly heal I would need to get back to nature. I made my home chemical free and began eating a very clean diet. I gave birth to a full term healthy baby naturally a few years later. After his birth my health began to decline again despite my healthy eating and lifestyle. I became very depressed and struggled with PTSD and suicidal thoughts. 
						p.content After going through several natural doctors, I finally found one that had answers for me. At the age of twenty seven my son and I were finally diagnosed with late stage chronic (Neurological) Lyme disease. I knew that we would need to heal naturally and I am proud to say that through the use of homeopathy, aromatherapy, flower essences, crystals, natural lifestyle, and a lot of energy work my son and I healed from Lyme and are continuing our recovering journey. 
						p.content Having gone through what I've gone through I feel my purpose as a healer has come full circle, I lived very sick for a decade of my life and had to dig deep and figure out how to heal on my own. Whether you are chronically ill or just struggle with mild anxiety or low self esteem, I would love to take your hand and help guide you forward to live out the best life you can with a deep sense of peace, joy, and love.
						p.content I believe if I can heal, anyone can heal. I would be honored to help you on your journey. 
						



					.col-md-4
						img.myphoto.img-responsive.center-block(src='../../stylesheets/images/me.jpg')


			.container.actual-footer
					.row-fluid.instagram
						a.ig-b-.ig-b-48(href='https://www.instagram.com/onyxholistic/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
						a.fb-icon(href='https://www.facebook.com/onyxholistic')
							img(src='../../stylesheets/images/facebook_48.png')
						a.tw-icon(href='https://twitter.com/onyxholistic')
							img(src='../../stylesheets/images/twitter_48.png')
						//- a.tw-icon(href='http://learningfromamaster.blogspot.com/?m=0')
							img(src='../../stylesheets/images/blogger-48.png')
					.row-fluid
						p.text-muted.copyright.hidden-xs  &copy Copyright 2017, Onyx Holistic
			//- footer.footer
				.container
					.row.instagram
						a.ig-b-.ig-b-48(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
