extends layout

block content
	.container.hero-contact
		.navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container.site-title
							.navbar-header
									button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
										span.sr-only Toggle navigation
										span.icon-bar
										span.icon-bar
										span.icon-bar
						
								
								ul.nav.navbar-nav
									li.main-name
										a(href='/')
											h1 Onyx
											h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/contact') Contact
								li.dropdown(role="presentation")
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='/birth') Natural Birth
										li
											a(href='/psychk') Psych K
										li
											a(href='/essentialoils') Essential Oils
										li
											a(href='/aboutme') About Me





		.container.panel.panel-default.contact-panel
			.panel-heading
				h3.panel-title Contact Me
			.panel-body
				form.form-horizontal(action='/contactSubmission', name='contactus', id='contactus', method='post')
					.form-group
						label.col-sm-2.control-label(for='firstname') First Name
						.col-sm-4
							input#inputfirstname.form-control(type='text', placeholder='First Name', required)

					.form-group
						label.col-sm-2.control-label(for='lastname') Last Name
						.col-sm-4
							input#inputlastname.form-control(type='text', placeholder='Last Name', required)

					.form-group
						label.col-sm-2.control-label(for='inputEmail') Email
						.col-sm-4
							input#inputEmail.form-control(type='email', placeholder='Email',required)

					.form-group
						label.col-sm-2.control-label(for='inputPhone') Phone Number
						.col-sm-4
							input#inputPhone.form-control(type='tel', placeholder='Phone Number',required)

					.form-group
						label.col-sm-2.control-label(for='serviceOptions') Reason for Inquiry
						.col-sm-4
								select.form-control(type='text', required)
									//- is most likley a way to insert a loop for choices here
									option Choose One
									option Birth
									option Breastfeeding
									option Postpartum
									option Psych K
									option Essential Oils
									option Other

					.row
						label.col-sm-2.control-label(for='message') Message
						.col-sm-6
							textarea.form-control(rows='8')

					.form-group.contact-button
						.col-sm-offset-2.col-sm-10
							button.btn.btn-default(type='submit') Submit
