extends layout

block content
	.container.hero-contact
		.navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container.site-title
							.navbar-header
									button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
										span.sr-only Toggle navigation
										span.icon-bar
										span.icon-bar
										span.icon-bar
						
								
								ul.nav.navbar-nav
									li.main-name
										a(href='/')
											h1 Onyx
											h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/contact') Contact
								li.dropdown(role="presentation")
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='/birth') Natural Birth
										li
											a(href='/psychk') Psych K
										li
											a(href='/essentialoils') Essential Oils
										li
											a(href='/aboutme') About Me






	div.container.panel.panel-default.contact-panel
		.panel-heading
			h3.panel-title Contact Me
		.panel-body
			a.panel-email(href='mailto:onyxholisticservices@gmail.com?subject=Onyx Contant&body=Thank you so much for contacting Onyx.Enter Full name, Phone Number, Email, and Reason for Contant. Have a Wonderful Day') my email
			//- a.panel-email(href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6F;&#x6E;&#x79;&#x78;&#x68;&#x6F;&#x6C;&#x69;&#x73;&#x74;&#x69;&#x63;&#x73;&#x65;&#x72;&#x76;&#x69;&#x63;&#x65;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;?subject=Onyx Contant&body=Thank you so much for contacting Onyx.Enter Full name, Phone Number, Email, and Reason for Contant. Have a Wonderful Day") encodedemail with template
			//- a.panel-email(href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6F;&#x6E;&#x79;&#x78;&#x68;&#x6F;&#x6C;&#x69;&#x73;&#x74;&#x69;&#x63;&#x73;&#x65;&#x72;&#x76;&#x69;&#x63;&#x65;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;?subject=Contact%20Onyx&body=Hi%2C%0D%0A%0D%0AThank You%20for%20contacting%20us!%0D%0A%0D%0APlease%20provide%20your%20Full%20Name,%20Email,%20Phone%20Number%20and%20Reason%20for%20contacting%20us%0D%0A%0D%0AThank%20you%2C%0D%0AOnyx") one more try
			
			//- a.panel-email(href="/&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6F;&#x6E;&#x79;&#x78;&#x68;&#x6F;&#x6C;&#x69;&#x73;&#x74;&#x69;&#x63;&#x73;&#x65;&#x72;&#x76;&#x69;&#x63;&#x65;&#x73;&#x25;&#x34;&#x30;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;") encodedemail only

//- href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x6F;&#x6E;&#x79;&#x78;&#x68;&#x6F;&#x6C;&#x69;&#x73;&#x74;&#x69;&#x63;&#x73;&#x65;&#x72;&#x76;&#x69;&#x63;&#x65;&#x73;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;?subject=Contact%20Onyx&body=Hi%2C%0D%0A%0D%0AThank You%20for%20contacting%20us!%0D%0A%0D%0APlease%20provide%20your%20Full%20Name,%20Email,%20Phone%20Number%20and%20Reason%20for%20contacting%20us%0D%0A%0D%0AThank%20you%2C%0D%0AOnyx"


