extends layout

block content
	div.container.contact-information.content
		header
			h1 #{title}

		.row
			.col-md-5
				//- h2 Contact
				form(action='contact/send', name='contact', id='contact', method='post')
					div.form-group
						label(for='name') Name:
						input.form-control(name='name', type='text', placeholder='Name', id='name' required autofocus)
					div.form-group
						label(for='email') Email:
						input.form-control(name='email', type='email', placeholder='Email', id='email' required)
					div.form-group
						label(for='callme') Phone Number:
						input.form-control(name='callme', type='text', placeholder='(XXX)-XXX-XXXX' id='callme' required)
					div.form-group
						label(for='reason') Category:
						select.form-control(name='reason', type='text', id='reason' required)
							option(disabled='', selected='true') Choose one
							//- option Birth/ Childbirth Classes
							//- option Postpartum/ Breastfeeding Support
							option Energy Work
							option Essential Oils
							option Other
					//- div.form-group
						label(for='pack') Package of Interest:
						select.form-control(name='pack', type='text', id='pack' required)
							option(disabled='', selected='true') Choose one
							option Mommy 
							option Mother Baby 
							option Holistic Well Being
							option PSYCH-K
							option Other
					div.form-group
						label(for='message') Message:
						textarea.form-control(name='message', placeholder='Message' id='message')
					div.form-group
						input.btn.btn-primary.btn-sm(name='submit', type='submit', value='Submit', id='submit')

					if(typeof msg !== 'undefined')
						if(!!err)
							p.err.bg-warning #{msg}
						else
							p.msgbox.success.bg-success #{msg}