extends layout

block content
	.container.hero
		.navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top.header-bar(role='navigation')
					.container.site-title
							.navbar-header
							button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
				
								
							ul.nav.navbar-nav
								li.main-name
									a(href='/')
										h1 Onyx
										h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/contact') Contact
								li
									a.header-links(href='/bradley') Services
									// put a drop down list here under services
		
		.container.service-information
			.row
				a.service-links.col-xs-3(href='/birth')
					img#bradleybirth.service-icon.img-responsive.img-circle(src='../../stylesheets/images/earthmom.jpg')
					span.service-title Natural Birth
				a.service-links.col-xs-3(href='/psychk')
					img#bradleybirth.service-icon.img-responsive.img-circle(src='../../stylesheets/images/psychk.jpg')
					span.service-title Psych K
				a.service-links.col-xs-3(href='/essentialoils')
					img#bradleybirth.service-icon.img-responsive.img-circle(src='../../stylesheets/images/essentialoils.jpg')
					span.service-title Essential Oils
				a.service-links.col-xs-3(href='/aboutme')
					img#bradleybirth.service-icon.img-responsive.img-circle(src='../../stylesheets/images/aboutme.jpg')
					span.service-title About Me
			<hr class="featurette-divider">
			.row.featurette.col-md-12
				.col-md-9
					h2.content-heading Essential Oils
					p.content "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
				.col-md-3
					//- img.myphoto.img-responsive.center-block(src='../../stylesheets/images/aboutme.jpg')

			//- footer#myfooter.footer
				.container
					.row.instagram
						a.ig-b-.ig-b-32(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-32.png', alt='Instagram')
