extends layout

block content
	.container.hero
		.navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top.header-bar(role='navigation')
					.container.site-title
							.navbar-header
							button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
								span.sr-only Toggle navigation
								span.icon-bar
								span.icon-bar
								span.icon-bar
				
								
							ul.nav.navbar-nav
								li.main-name
									a(href='/')
										h1 Onyx
										h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/contact') Contact
								li
									a.header-links(href='/bradley') Services
									// put a drop down list here under services
		
		.container.service-information
			.row
				#titles.col-lg-12
					div
						#services.col-lg-12
					
			.row		
				#information.container




					//- .col-lg-4
					//- 	img.image-circle(src='http://www.chami.com/html-kit/i/g/cached/tmp10_dup_ed96748605915d9e208e9dc047b2d4a3.jpg')
					//- 	h2 heading
					//- .col-lg-4
					//- 	img.image-circle(src='circleimg4.png')
					//- 	h2 heading
					//- .col-lg-4
					//- 	img.image-circle(src='./public/stylesheets/images/circleimg3.png')
					//- 	h2 heading
		

			footer.footer
				.container
					.row.instagram
						a.ig-b-.ig-b-32(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-32.png', alt='Instagram')
					//- p.follow follow

