extends layout

block content
	.container.hero
		
		#myCarousel.carousel.slide(data-ride='carousel')
			//- // Indicators
			ol.carousel-indicators
				li.active(data-target='#myCarousel', data-slide-to='0')
				li(data-target='#myCarousel', data-slide-to='1')
				li(data-target='#myCarousel', data-slide-to='2')
				li(data-target='#myCarousel', data-slide-to='3')
			.carousel-inner(role='listbox')
				.item.active
					img.first-slide(src='../../stylesheets/images/dandelion.jpg', alt='onyx')
					.container
						.carousel-caption
							//- img.img-responsive.center-block(src='../../stylesheets/images/BLH_small-01.png' data-holder-rendered="true")
							img.img-responsive.center-block(src='../../stylesheets/images/BLH-01.png' data-holder-rendered="true")
							p.inspiration.hidden-xs                  
				.item
					img.third-slide(src='../../stylesheets/images/butterfly.jpg', alt='psychk')
					.container
						.carousel-caption
							h1 Love yourself to health
							//- p A process that transcends the standard methods of visualization, affirmations, will power, and positive thinking especially effective in the areas of behavioral/habit change, wellness and stress reduction.
							//- p
								a.btn.btn-lg.btn-warning(href='#psychk', role='button') Free Your Mind
				//- .item
					img.fourth-slide(src='../../stylesheets/images/lavender.jpg', alt='essentialoils')
					.container
						.carousel-caption
							h1 Essential Oils
							p Essential Oils, the pure essence of health-promoting botanicals that can be diffused, inhaled, applied topically, incorporated into massage, or taken internally.
							p
								a.btn.btn-lg.btn-primary(href='#essentialoils', role='button') Enrich Your Life
			
			a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
				span.sr-only Previous
			a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
				span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
				span.sr-only Next





		.container.service-information
			.container.service-content.info
				//- <hr class="featurette-divider">
				.row.featurette.col-md-12
					.col-md-12
						//- h4.content.content-heading #{title}
						//- p.content.content-subhead
						h2.content.content-heading Appointments:

						
						h2.content 
							u Sessions and Pricing :
						p.content Free 15 minute consultation 
						p.content First appointment (In person) $200
						p.content First appointment (International and long distance) $75
						p.content Follow up appointments $50
						p.content Energy Work Sessions: 1 hr $50   -   1/2hr $30

						p.content.subtext Appointments do not include all remedies or supplements, additional fees may apply. Amounts in USD.
						
						//- p.content Holistic Wellbeing (Essential Oils, Flower Essences) - $50 
							span.text-muted (includes bio-impedenccc# scan for in person session)
						//- P.content Emotional and Mental Wellbeing (PSYCH-K, Essential Oils, Flower Essences) - $50
						//- p.content Bradley Birth Class - Contact for pricing and availablility
							
						//- p.content.content-subhead
							span.text-muted From birth and beyond
						//- p.content Guiding individuals to be as healthy as possible mentally and physically.

						//- p.content My goal is to help ones emotional, spiritual, and physical well being through gentle counseling, energy work, homeopathy, flower essences, aromatherapy, and crystals. 
						//- p.content As an intuitive healer I take a holistic approach using different modalities to gently guide individuals into reaching their highest potentials.
						//- //- p.content.text-muted Located in Hampstead, MD for in person appointments. Appointments also available by phone for non local individuals.






			.container.service-content.info
				<hr class="featurette-divider">
				.row.featurette.col-md-12
					//- .col-md-1

					.col-md-12
						h2.content.content-heading What to expect for your first appointment
						p.content Complete health history
						p.content Biofeedback scan*
						p.content Energy work
						p.content Biomat Session*
						p.content Customized Wellness Plan:
						p.content Supplements
						p.content Essential Oils
						p.content Flower Essences
						p.content Homeopathic Remedies
						p.content Nutritional Counseling
						p.content.subtext * = In person only
						//- h2.content.content-heading Consultations

						//- p.content Consultations for are now being offered and are tailored to suit your needs. They can be conducted over the phone, Skype/ video call, or in person.
						//- h2.content 
						//- 	u Sessions / Pricing
						//- p.content First time customer (any session) - $25
						//- p.content Breastfeeding/ Postpartum - $50
						//- p.content Holistic Wellbeing (Essential Oils, Flower Essences) - $50 
						//- 	span.text-muted (includes bio-impedenccc# scan for in person session)
						//- P.content Emotional and Mental Wellbeing (PSYCH-K, Essential Oils, Flower Essences) - $50
						//- p.content Bradley Birth Class - Contact for pricing and availablility

					//- .col-md-1


			//- .container.birth-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="birth")
					.row.featurette.col-md-12
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/ribbon.jpg' data-holder-rendered="true")
						.col-md-9
							h2.content-heading Birth, Naturally.
							
							p.content We offer counseling pre and post natal which includes, pregnancy classes, breastfeeding consultations and Energy sessions for mom and baby.
							p.content I taught The Bradley Method<sup>&reg;</sup> for over five years before deciding to create tailored classes individualized to each couple. I also work as a holistic doula and breastfeeding counselor. 
							p.content Classes are kept private and tailored to each couple based on their needs/wants. For more information about natural childbirth please 
								a(href='/contact') Contact Me.


							h2.content Postpartum
							P.content We also offer postpartum counseling which includes, breastfeeding consultations and PSYCH-K sessions for mom and baby.

			
			.container.psychk-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="psychk")
					.row.featurette.col-md-12
						.col-md-7
							h2.content.content-heading Energy Work
							//- p.content.content-subhead
								span.text-muted From birth and beyond
							p.content I offer several different forms of energy work based on the needs of the individual. I help get to the root of the issues so you can start feeling better quickly. I will also recommend and make specialized remedies specific to your needs and situation. I am certified in PSYCH-K<sup>&reg;</sup> and this will be the majority of your session, I will also use and teach other energy work so that you can continue your progress in between sessions. 
							p.content PSYCH-K<sup>&reg;</sup> is a unique and direct way to change subconscious beliefs that perpetuate old habits of thinking and behaving that you would like to change. It is a simple process that helps you communicate with your subconscious mind so you can change beliefs that limit your self-esteem, relationships, job performance, and even your physical health. 
							p.content Sessions are available remote and in-person, all welcome.
							ul.content.list-content
								li Experience abundance in every aspect of life
								li Reduce stress and anxiety
								li Develop relationships you desire and deserve
								li Increase your sense of well being
								li Release post-traumatic stress
								li Re-perceive fears and phobias to feel at peace
								li Eliminate destructive habits
								li Accelerate spiritual development
							p.content
								//- a(href='/contact') Request 
								//- | a session.
								a(href="mailto:blovehealing@gmail.com?Subject= BLOVEHEALING%20CONTACT") Request a session.
							//- // 4:3 aspect ratio
							//- .embed-responsive.embed-responsive-4by3
							//- 	iframe.embed-responsive-item(src="https://www.youtube.com/embed/b4cV9cVa5sc" frameborder="0" allowfullscreen) 
						//- .col-md-5	
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/butterfly.jpg' data-holder-rendered="true")
						.col-md-5
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/butterfly.jpg' data-holder-rendered="true")
							//- // 4:3 aspect ratio
							//- .embed-responsive.embed-responsive-4by3
								iframe.embed-responsive-item(src="https://www.youtube.com/embed/b4cV9cVa5sc" frameborder="0" allowfullscreen)
							//- img.myphoto.img-responsive.center-block(src='../../stylesheets/images/psychk.jpg' data-holder-rendered="true")
					.row.featurette.col-md-12
						.col-md-12
							h2.content.content-heading Testimonials
							p.content "Healing from invisible diseases is multi faceted, I am extremely grateful for Brittany and Psych-K. Without the release of stored emotions I believe that it is almost impossible to heal completely. Thank you for being a bright light and angel in my life, I can’t recommend Psyck-K enough."
							p.content.subtext - Melissa W. Missouri, USA
							p.content "Psych k with Brittany helped me amazingly to remember who I am and to feel in touch with myself again. I felt like I woke from a deep sleep and remembered who I am, what my purpose is, and what I truly want to achieve." 
							p.content.subtext -Miles Vracko, Switzerland 
							p.content "Psych-K is something I was slightly skeptical of at first. After looking into it more, I began to see how this form of energy work works, and thought I should give it a try. After being sexually abused as a child and later raped and also in an abusive relationship for many years, I was not emotionally ok and am still on a journey of healing. I wasn't someone who is very confident. When we began, confidence is what I chose to work on. A few days after Psyck-K with Brittany, I felt more awake, stood taller and was smiling and looking people in the eyes. Friends said I seemed different, and I do feel different. I felt lifted for sure! I highly recommend Pysch-K to anyone!" 
							p.content.subtext -Nessa L. Pennsylvania, USA 


			.container.oil-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="asea")
					.row.featurette.col-md-12
						.col-md-8
							h2.content.content-heading Recommended supplements and remedies
							p.content 
							h3.content ASEA
							p.content ASEA's redox cell signaling supplement provides support and health at the cellular level. This redox supplement provides healing from your cells to your soul.
							p.content
								a(href='http://brittanylove.teamasea.com/') Learn More!
							h3.content Flower Essences
							p.content Flower essences address emotional and mental aspects of wellness. For order information 
								//- a(href='/contact') Contact me.
								a(href="mailto:blovehealing@gmail.com?Subject= BLOVEHEALING%20CONTACT") Contact Me

							p.content For availability of remedies please 
								//- a(href='/contact') Email me.	
								a(href="mailto:blovehealing@gmail.com?Subject= BLOVEHEALING%20CONTACT")  Email me.
						.col-md-4
							//- img.myphoto.img-responsive.center-block(src='../../stylesheets/images/essentialoils.jpg' data-holder-rendered="true")
			.container.oil-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="essentialoils")
					.row.featurette.col-md-12
						.col-md-7
							h2.content.content-heading Chemical free living
							p.content An important aspect of healing is living in a chemical free environment. Thru the use of essential oils and other natural products this can be achieved. Essential Oils have personally enhanced my life in so many ways. I am passionate about health and nutrition. I would love to help guide you in learning more about Essential Oils and how they can benefit you and your family!
							h3.content Benefits of Essential Oils
							ul.content.list-content
								li Inspire a positive emotional state
								li Enhance your physical wellness
								li Purify your home
								li Refine your skin
								li Create deep spiritual awareness
							p.content
								a(href='https://www.youngliving.com/vo/#/signup/new-start?sponsorid=2037746&enrollerid=2037746&type=member') Get Started!
						.col-md-5
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/essentialoils.jpg' data-holder-rendered="true")

			.container.oil-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="faqs")
					.row.featurette.col-md-12
						.col-md-8
							h2.content.content-heading FAQ's
							p.content 
							h3.content I live far from you or in another country can I still make an appointment?
							p.content Yes, Absolutely! Most of my clients are long distance.
							
							h3.content 
							p.content
						.col-md-4


			.container.actual-footer
					.row-fluid.instagram
						a.ig-b-.ig-b-48(href='https://www.instagram.com/b.love.healing/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
						a.fb-icon(href='https://www.facebook.com/B-Love-Healing-373726639704346/')
							img(src='../../stylesheets/images/facebook_48.png')
						//- a.tw-icon(href='https://twitter.com/onyxholistic')
							img(src='../../stylesheets/images/twitter_48.png')
						//- a.tw-icon(href='http://learningfromamaster.blogspot.com/?m=0')
							img(src='../../stylesheets/images/blogger-48.png')
					.row-fluid
						p.text-muted.copyright.hidden-xs  &copy Copyright 2018, blovehealing


