extends layout

block content
	.container.hero
		.navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container.site-title
							.navbar-header
									button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
										span.sr-only Toggle navigation
										span.icon-bar
										span.icon-bar
										span.icon-bar
						
								
								ul.nav.navbar-nav
									li.main-name
										a(href='/')
											h1 Onyx
											h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/contact') Contact
								li.dropdown(role="presentation")
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='/birth') Natural Birth
										li
											a(href='/psychk') Psych K
										li
											a(href='/essentialoils') Essential Oils
										li
											a(href='/aboutme') About Me
									
									//- // put a drop down list here under services
		
		.container.service-information
			.row.services-row
				a.service-links.col-xs-3.circle(href='/birth')
					.service-title
						span Birth
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/earthmom.jpg')
				a.service-links.col-xs-3(href='/psychk')
					.service-title
						span Psych K
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/psychk.jpg')
					
				a.service-links.col-xs-3(href='/essentialoils')
					.service-title
						span Essential Oils
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/essentialoils.jpg')
					
				a.service-links.col-xs-3(href='/aboutme')
					.service-title
						span About Me
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/aboutme.jpg')
					


			<hr class="featurette-divider">
			.row.featurette.col-md-12
				.col-md-9
					h2.content.content-heading Onyx Holistic Services
					//- p.content.content-subhead
						span.text-muted From birth and beyond
					p.content Our focus is on the full woman, full child and well-being of the family. 
						span.text-muted From birth and beyond.
				.col-md-3
					img.myphoto.img-responsive.center-block(src='../../stylesheets/images/aboutme.jpg' data-holder-rendered="true")

			footer.footer
				.container
					.row-fluid.instagram
						a.ig-b-.ig-b-32(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
							img(src='//badges.instagram.com/static/images/ig-badge-32.png', alt='Instagram')

