extends layout

block content
	.container.hero
		.navbar-wrapper
			.container
				header.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container.site-title
							.navbar-header
									button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
										span.sr-only Toggle navigation
										span.icon-bar
										span.icon-bar
										span.icon-bar
						
								
								ul.nav.navbar-nav
									li.main-name
										a(href='/')
											h1 Onyx
											h3 Holistic Services
						.navbar-collapse.collapse
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='mailto:onyxholisticservices@gmail.com?subject=Onyx Contant&body=Thank you so much for contacting Onyx. Please include your Full name, Phone Number, Email, and Reason for Contant. Have a Wonderful Day') Contact
								li.dropdown(role="presentation")
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='#birth') Natural Birth
										li
											a(href='#psychk') Psych K
										li
											a(href='#essentialoils') Essential Oils
										li
											a(href='/aboutme') About Me
									
									//- // put a drop down list here under services
		
		.container.service-information
			.row.services-row
				a.service-links.col-xs-3.circle(href='/birth')
					.service-title
						span Birth
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/earthmom.jpg')
				a.service-links.col-xs-3(href='/psychk')
					.service-title
						span Psych K
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/psychk.jpg')
					
				a.service-links.col-xs-3(href='/essentialoils')
					.service-title
						span Essential Oils
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/essentialoils.jpg')
					
				a.service-links.col-xs-3(href='/aboutme')
					.service-title
						span About Me
					img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/aboutme.jpg')
					

			.container.service-content.info
				<hr class="featurette-divider">
				.row.featurette.col-md-12
					.col-md-12
						h2.content.content-heading Onyx Holistic Services
						//- p.content.content-subhead
							span.text-muted From birth and beyond
						p.content Our focus is on the full woman, full child and well-being of the family. 
							span.text-muted From birth and beyond.

			.container.birth-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="birth")
					.row.featurette.col-md-12
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/earthmom.jpg' data-holder-rendered="true")
						.col-md-9
							h2.content.content-heading Bradley Birth
							//- p.content.content-subhead
								span.text-muted From birth and beyond
							p.content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus arcu a semper convallis. Pellentesque elementum felis nisl, sed cursus est mattis eu. Curabitur mi nibh, congue quis efficitur eu, iaculis in leo. Nunc vitae mattis eros, et tincidunt tortor. Aliquam semper, turpis a mattis scelerisque, dui dolor rutrum nibh, eget vestibulum nisi risus convallis ante. Pellentesque leo nisl, molestie ut mi in, malesuada rhoncus massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi finibus nulla eu suscipit laoreet. Nunc consectetur tellus a nibh mattis, eget ornare metus eleifend. Aliquam aliquet suscipit arcu, id ultricies massa sodales vulputate.
							p.content Pellentesque vestibulum iaculis dolor et condimentum. Nullam eu leo nec metus volutpat ornare sit amet in erat. Donec id dignissim nisl. Aenean vitae viverra quam. Sed convallis mollis urna, sit amet hendrerit massa vulputate a. Suspendisse magna purus, cursus sed cursus eget, ullamcorper id metus. In cursus lacinia arcu vitae auctor. Cras vel quam a ligula posuere auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ipsum pulvinar, scelerisque ligula eget, tincidunt sapien. Duis vel massa sagittis, malesuada eros elementum, dictum nisl.

			
			.container.psychk-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="psychk")
					.row.featurette.col-md-12
						.col-md-9
							h2.content.content-heading Psych K
							//- p.content.content-subhead
								span.text-muted From birth and beyond
							p.content Suspendisse neque nunc, sollicitudin vitae nisi ut, pharetra maximus risus. Mauris eleifend quam nec tristique molestie. Aliquam efficitur rhoncus sapien, quis semper mauris condimentum id. Donec sed nunc massa. Duis ut ligula ante. Mauris nec risus placerat, accumsan mi eu, dapibus massa. Ut at tincidunt erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque blandit, quam nec euismod accumsan, sem erat tempus tortor, quis posuere justo diam nec justo.
							p.content Pellentesque vestibulum iaculis dolor et condimentum. Nullam eu leo nec metus volutpat ornare sit amet in erat. Donec id dignissim nisl. Aenean vitae viverra quam. Sed convallis mollis urna, sit amet hendrerit massa vulputate a. Suspendisse magna purus, cursus sed cursus eget, ullamcorper id metus. In cursus lacinia arcu vitae auctor. Cras vel quam a ligula posuere auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ipsum pulvinar, scelerisque ligula eget, tincidunt sapien. Duis vel massa sagittis, malesuada eros elementum, dictum nisl.
							p.content Pellentesque vestibulum iaculis dolor et condimentum. Nullam eu leo nec metus volutpat ornare sit amet in erat. Donec id dignissim nisl. Aenean vitae viverra quam. Sed convallis mollis urna, sit amet hendrerit massa vulputate a. Suspendisse magna purus, cursus sed cursus eget, ullamcorper id metus. In cursus lacinia arcu vitae auctor. Cras vel quam a ligula posuere auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ipsum pulvinar, scelerisque ligula eget, tincidunt sapien. Duis vel massa sagittis, malesuada eros elementum, dictum nisl.
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/psychk.jpg' data-holder-rendered="true")

			.container.oil-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="essentialoils")
					.row.featurette.col-md-12
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/essentialoils.jpg' data-holder-rendered="true")
						.col-md-9
							h2.content.content-heading Essential oils

							//- p.content.content-subhead
								span.text-muted From birth and beyond
							p.content Pellentesque vestibulum iaculis dolor et condimentum. Nullam eu leo nec metus volutpat ornare sit amet in erat. Donec id dignissim nisl. Aenean vitae viverra quam. Sed convallis mollis urna, sit amet hendrerit massa vulputate a. Suspendisse magna purus, cursus sed cursus eget, ullamcorper id metus. In cursus lacinia arcu vitae auctor. Cras vel quam a ligula posuere auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ipsum pulvinar, scelerisque ligula eget, tincidunt sapien. Duis vel massa sagittis, malesuada eros elementum, dictum nisl.
							p.content Pellentesque vestibulum iaculis dolor et condimentum. Nullam eu leo nec metus volutpat ornare sit amet in erat. Donec id dignissim nisl. Aenean vitae viverra quam. Sed convallis mollis urna, sit amet hendrerit massa vulputate a. Suspendisse magna purus, cursus sed cursus eget, ullamcorper id metus. In cursus lacinia arcu vitae auctor. Cras vel quam a ligula posuere auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ipsum pulvinar, scelerisque ligula eget, tincidunt sapien. Duis vel massa sagittis, malesuada eros elementum, dictum nisl.


			.container.actual-footer
				.row-fluid.instagram
					a.ig-b-.ig-b-32(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
						img(src='//badges.instagram.com/static/images/ig-badge-32.png', alt='Instagram')
			//- footer.footer
			//- 	.container
			//- 		.row-fluid.instagram
			//- 			a.ig-b-.ig-b-32(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
			//- 				img(src='//badges.instagram.com/static/images/ig-badge-32.png', alt='Instagram')

