extends layout

block content
	.container.hero
		.navbar-wrapper
			.container
				nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
					.container.site-title
							.navbar-header
									button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse',aria-expanded="false", aria-controls="navbar")
										span.sr-only Toggle navigation
										span.icon-bar
										span.icon-bar
										span.icon-bar
						
								
								ul.nav.navbar-nav
									li.main-name
										a(href='/')
											h1 Onyx
											h3 Holistic Services
						.navbar-collapse.collapse.navbar-default
							ul.nav.navbar-nav.site-tabs
								li
									a.header-links(href='/') Home
								li
									a.header-links(href='/aboutme') About Me
								li
									a.header-links(href='mailto:onyxholisticservices@gmail.com?subject=Onyx Contant&body=Thank you so much for contacting Onyx. Please include your Full name, Phone Number, Email, and Reason for Contant. Have a Wonderful Day') Contact
								li.dropdown(role="presentation")
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='#birth') Natural Birth
										li
											a(href='#psychk') PSYCH-K
										li
											a(href='#essentialoils') Essential Oils
										//- li
											a(href='/aboutme') About Me
									
				//- image text large and small settings
				//- this was a section with the "slogan over a back ground which i have removed to try something new"
		//- .container.inspirational.hidden-xs
		//- 	.col-md-1
		//- 	.col-md-10
		//- 		p.inspiration Our focus is on the full woman, full child and well-being of the family. 
		//- 			span.text-muted From birth and beyond.
		//- 	.col-md-1
		//- .container.inspirational.visible-xs
		//- 	.col-md-1
		//- 	.col-md-10
		//- 		p.inspiration-small Our focus is on the full woman, full child and well-being of the family. 
		//- 			span.text-muted From birth and beyond.
		//- 	.col-md-1
		#myCarousel.carousel.slide(data-ride='carousel')
			//- // Indicators
			ol.carousel-indicators
				li.active(data-target='#myCarousel', data-slide-to='0')
				li(data-target='#myCarousel', data-slide-to='1')
				li(data-target='#myCarousel', data-slide-to='2')
				li(data-target='#myCarousel', data-slide-to='3')
			.carousel-inner(role='listbox')
				.item.active
					img.first-slide(src='../../stylesheets/images/dandelion.jpg', alt='onyx')
					.container
						.carousel-caption
							p.inspiration.hidden-xs Our focus is on the full woman, full child and well-being of the family. 
								span.text-muted From birth and beyond.
							p.inspiration-small.visible-xs Our focus is on the full woman, full child and well-being of the family. 
								span.text-muted From birth and beyond.



				.item
					img.second-slide(src='../../stylesheets/images/ocean.jpg', alt='Birth')
					.container
						.carousel-caption
							h1 Birth, 
								span.text-muted Naturally.
							p Are you expecting a new addition? Are you looking for Breastfeeding support? Whether its your first or you've had children we've got you covered. 
							p
								a.btn.btn-lg.btn-default(href='#birth', role='button') Learn More
				.item
					img.third-slide(src='../../stylesheets/images/butterfly.jpg', alt='psychk')
					.container
						.carousel-caption
							h1 PSYCH-K
							p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							p
								a.btn.btn-lg.btn-warning(href='#psychk', role='button') Learn More
				.item
					img.fourth-slide(src='../../stylesheets/images/lavender.jpg', alt='essentialoils')
					.container
						.carousel-caption
							h1 Essential Oils
							p Essential Oils, the pure essence of health-promoting botanicals that can be diffused, inhaled, applied topically, incorporated into massage, or taken internally.
							p
								a.btn.btn-lg.btn-primary(href='#essentialoils', role='button') Enrich Your Life
			
			a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
				span.sr-only Previous
			a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
				span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
				span.sr-only Next





		.container.service-information


			//- .row
				.services-row.centered
					a.service-links.service-links.col-xs-4.circle(href='#birth')
						.service-title
							span Birth
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/earthmom.jpg')
					a.service-links.col-xs-4(href='#psychk')
						.service-title
							span PSYCH-K
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/psychk.jpg')
					a.service-links.col-xs-4(href='#essentialoils')
						.service-title
							span Essential Oils
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/essentialoils.jpg')
						
					a.service-links.col-xs-3(href='/aboutme')
						.service-title
							span About Me
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/aboutme.jpg')

			//- .row.visible-xs
				.services-row.centered.visible-xs
					a.service-links-small.service-links.col-xs-4.circle(href='#birth')
						.service-title
							span Birth
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/earthmom.jpg')
					a.service-links-small.col-xs-4(href='#psychk')
						.service-title
							span PSYCH-K
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/psychk.jpg')
					a.service-links-small.col-xs-4(href='#essentialoils')
						.service-title
							span Essential Oils
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/essentialoils.jpg')
						
					a.service-links-small.col-xs-3(href='/aboutme')
						.service-title
							span About Me
						img.service-icon.img-responsive.img-circle(src='../../stylesheets/images/aboutme.jpg')



					

			.container.service-content.info
				//- <hr class="featurette-divider">
				.row.featurette.col-md-12
					.col-md-12
						h2.content.content-heading Onyx Holistic Services
						p.content.content-subhead
							span.text-muted Holistic woman centered care from pregnancy, birth and beyond. 
						//- p.content.content-subhead
							span.text-muted From birth and beyond
						p.content Supporting women to have the healthiest pregnancies possible, amazing births, and to embrace motherhood fully with the wisdom and power she already has inside of her.
						p.content  Supporting mothers physical bodies by teaching gentle exercise and natural breathing, to healthy eating and self care. 
						p.content Supporting mothers emotional, spiritual, and physical well being through gentle counseling, PSYCH-K sessions and Essential Oils. 
						p.content As an intuitive healer Brittany takes a holistic approach into the journey of motherhood using different modalities to gently guide mothers into reaching their highest potentials.
						

			.container.birth-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="birth")
					.row.featurette.col-md-12
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/earthmom.jpg' data-holder-rendered="true")
						.col-md-9
							h2.content.content-heading Birth, Naturally.
							
							p.content The Bradley Method<sup>&reg;</sup> Childbirth classes are designed to educate you and your partner about what is happening with your body and baby during pregnancy and delivery.  It teaches you how to work with your body through relaxation and positioning so that you can work toward your goal of natural childbirth.  The ultimate goal is: HEALTHY MOTHER, HEALTHY BABY, HEALTHY FAMILY!
							p.content For more information about natural, husband coached childbirth and my class schedule please visit my
								a(href="http://www.bradleybirth.com/brittanydavidson")  Bradley page 
								| or 
								a(href='mailto:onyxholisticservices@gmail.com?subject=Onyx Contant&body=Thank you so much for contacting Onyx. Please include your Full name, Phone Number, Email, and Reason for Contant. Have a Wonderful Day') Contact Me.
							h2.content.content-heading After Birth
							P.content We also offer breastfeeding help and lactation consultation

			
			.container.psychk-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="psychk")
					.row.featurette.col-md-12
						.col-md-9
							h2.content.content-heading PSYCH-K
							//- p.content.content-subhead
								span.text-muted From birth and beyond
							p.content PSYCH-K is a unique and direct way to change subconscious beliefs that perpetuate old habits of thinking and behaving that you would like to change. It is a simple process that helps you communicate with your subconscious mind so you can change beliefs that limit your self-esteem, relationships, job performance, and even your physical health.
							ul.content.list-content
								li Experience abundance in every aspect of life
								li Reduce stress and anxiety
								li Develop relationships you desire and deserve
								li Increase your sense of well being
								li Release post-traumatic stress
								li Reperceive fears and phobias to feel at peace
								li Eliminate destructive habits
								li Accelerate spiritual development
							//- p.content There are not many things I can truly say changed my life, but PSYCH-K has truly changed mine. I wish someone would have told me years ago that there was a way we could connect and change our subconscious mind! It has helped heal me at a deep soul level, it's cleared deep hurts and fears that used to cripple me and keep me from living out my full potential. I suffered from anxiety, depression, and suicide for over 15 years. This gives you the tools to move past those things and truly live your life freely. 
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/psychk.jpg' data-holder-rendered="true")

			.container.oil-content.info
					<hr class="featurette-divider">
					span
						a(class="anchor" name="essentialoils")
					.row.featurette.col-md-12
						.col-md-9
							h2.content.content-heading Essential oils
							p.content Essential Oils are gaining popularity and have personally saved and enhanced my life in so many ways. I began trying out several brands before choosing which one I felt worked best for me. My family and I are passionate about health and nutrition. I would love to help guide you in learning more about Essential Oils and how they can benefit you and your family!
							h3.content Benefits of Essential Oils
							ul.content.list-content
								li Inspire a positive emotional state
								li Enhance your physical wellness
								li Purify your home
								li Refine your skin
								li Create deep spiritual awareness	
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/essentialoils.jpg' data-holder-rendered="true")



			//- this is for small screens
			//- .container.service-content.info.visible-xs
				<hr class="featurette-divider">
				.row.featurette.col-md-12
					.col-md-12
						h2.content.content-heading Onyx Holistic Services
						//- p.content.content-subhead
							span.text-muted From birth and beyond
						p.small-content Onyx is a collaboration of my heart, soul, and journey. I lived sick for nearly half my life battling late stage chronic lyme disease, and lupus. When I gave birth to my first son prematurely I knew that I had to figure all of this out and truly heal. I wanted to heal completely, and for many years I tried many different physical things. Finally I realized healing was about so much more than the physical aspect. Onyx means……
						p.small-content   My heart and passion is to help woman, help them before, during and into the beautiful journey that is motherhood. I value woman right where they are and my hope is to empower them to be all they want to be. Onyx Holistic services served Mothers, babies, and the family unit. I would be happy to help you on your journey. infinite peace, Brittany 
						

			//- .container.birth-content.info.visible-xs
					<hr class="featurette-divider">
					span
						a(class="anchor" name="birth")
					.row.featurette.col-md-12
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/earthmom.jpg' data-holder-rendered="true")
						.col-md-9
							h2.content.content-heading Bradley Birth
							p.small-content  After giving birth to my first son prematurely my whole world changed. I was also diagnosed with lupus (lupus induced preeclampsia)  and I gave birth to him Via emergency c-section where I was asleep for the birth. I didn't meet my precious baby until 50 hours later. It was a scary time as my health was in very bad shape and I wasn’t sure if i’d live or die. Being a mother was the only thing that I had ever wanted in this life, and I wanted more children. I knew I had to find healing. When I got pregnant again with my second son I found a better way. Through education and taking the Bradley classes I was able to give birth to a full term healthy baby. I had a completely pain free wonderful natural childbirth. I knew then that I had to help other woman have similar experiences. 
							p.small-content The Bradley Method<sup>&reg;</sup> Childbirth classes are designed to educate you and your partner about what is happening with your body and baby during pregnancy and delivery.  It teaches you how to work with your body through relaxation and positioning so that you can work toward your goal of natural childbirth.  The ultimate goal is: HEALTHY MOTHER, HEALTHY BABY, HEALTHY FAMILY!
							p.small-content  For more information about natural, husband coached childbirth and to view my class schedule please visit my
								a(href="http://www.bradleybirth.com/brittanydavidson")  Bradley page.

			
			//- .container.psychk-content.info.visible-xs
					<hr class="featurette-divider">
					span
						a(class="anchor" name="psychk")
					.row.featurette.col-md-12
						.col-md-9
							h2.content.content-heading PSYCH-K
							p.small-content PSYCH-K is a unique and direct way to change subconscious beliefs that perpetuate old habits of thinking and behaving that you would like to change. It is a simple process that helps you communicate with your subconscious mind so you can change beliefs that limit your self-esteem, relationships, job performance, and even your physical health.
							ul.small-content.list-content
								li Experience abundance in every aspect of life
								li Reduce stress and anxiety
								li Develop relationships you desire and deserve
								li Increase your sense of well being
								li Release post-traumatic stress
								li Reperceive fears and phobias to feel at peace
								li Eliminate destructive habits
								li Accelerate spiritual development
							p.small-content  There are not many things I can truly say changed my life, but psych k has truly changed mine. I wish someone would have told me years ago that there was a way we could connect and change our subconscious mind! Psych K has helped heal me at a deep soul level, its cleared deep hurts and fears that used to cripple me and keep me from living out my full potential. I suffered from anxiety, depression, and suicide for over 15 years. Psych K gives you the tools to move past those things and truly live your life freely. 
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/psychk.jpg' data-holder-rendered="true")

			//- .container.oil-content.info.visible-xs
					<hr class="featurette-divider">
					span
						a(class="anchor" name="essentialoils")
					.row.featurette.col-md-12
						.col-md-3
							img.myphoto.img-responsive.center-block(src='../../stylesheets/images/essentialoils.jpg' data-holder-rendered="true")
						.col-md-9
							h2.content.content-heading Essential oils
							p.small-content  Pellentesque vestibulum iaculis dolor et condimentum. Nullam eu leo nec metus volutpat ornare sit amet in erat. Donec id dignissim nisl. Aenean vitae viverra quam. Sed convallis mollis urna, sit amet hendrerit massa vulputate a. Suspendisse magna purus, cursus sed cursus eget, ullamcorper id metus. In cursus lacinia arcu vitae auctor. Cras vel quam a ligula posuere auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ipsum pulvinar, scelerisque ligula eget, tincidunt sapien. Duis vel massa sagittis, malesuada eros elementum, dictum nisl.
							p.small-content  Pellentesque vestibulum iaculis dolor et condimentum. Nullam eu leo nec metus volutpat ornare sit amet in erat. Donec id dignissim nisl. Aenean vitae viverra quam. Sed convallis mollis urna, sit amet hendrerit massa vulputate a. Suspendisse magna purus, cursus sed cursus eget, ullamcorper id metus. In cursus lacinia arcu vitae auctor. Cras vel quam a ligula posuere auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque at ipsum pulvinar, scelerisque ligula eget, tincidunt sapien. Duis vel massa sagittis, malesuada eros elementum, dictum nisl.





			.container.actual-footer
				.row-fluid.instagram
					a.ig-b-.ig-b-48(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
						img(src='//badges.instagram.com/static/images/ig-badge-48.png', alt='Instagram')
			//- footer.footer
			//- 	.container
			//- 		.row-fluid.instagram
			//- 			a.ig-b-.ig-b-32(href='https://www.instagram.com/onyxholisticservices/?ref=badge')
			//- 				img(src='//badges.instagram.com/static/images/ig-badge-32.png', alt='Instagram')

