doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Onyx Holistic
		meta(name='keywords', content='Healing, Natural Healing, Lyme, Chronic Illness, Bradley Method, Psych-K, Lyme Disease, spoonie life, @onyxholistic, onyxholistic, Onyx, onyx holistic, onyx holistic services, essential oils, Young Living, whole body, full woman')
		meta(name='description', content='Health promoting services designed to focus the well being of the whole person')
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
			

		link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
		link(href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.7.0/bootstrap-lightbox.min.css")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.16/webfontloader.js")
		link(rel='stylesheet' href='/stylesheets/main.css')
		link(rel='icon', type='image/png', href='../../stylesheets/images/faviconb-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='../../stylesheets/images/faviconb-16x16.png', sizes='16x16')



	body
		block content
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-lightbox/0.7.0/bootstrap-lightbox.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Flowtype.js/1.1.0/flowtype.min.js")
		script(type="text/javascript", src="/javascripts/main.js")

		script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-73707788-1', 'auto');ga('send', 'pageview');

		nav.navbar.navbar-default.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand.main-name(href='/', style="font-family:cursive;font-size: 21px; color: #555") Onyx Holistic
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/') Home
						li
							a(href='/aboutme') About
						li
							a(href='/contact') Contact
						li.dropdown(role="presentation", href='/')
									a.header-links.dropdown-toggle(data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Services
										span.caret
									ul.dropdown-menu
										li
											a(href='/#birth') Natural Birth
										li
											a(href='/#psychk') PSYCH-K
										li
											a(href='/#essentialoils') Essential Oils
										//- li
											a(href='/aboutme') About Me






